DATABASE_URL=postgresql://postgres:postgres@db:5433/app
ENCRYPTION_KEY=125ccd8a2a116a559e3c8c8fa80bf573c2f37c0cc0dbc8e7c2019beee7f75a6e
# WSS=ws://localhost:4000
NODE_ENV=production
ACCESS_SECRET=125ccd8a2a116a559e3c8c8fa80bf573c2f37c0cc0dbc8e7c2019beee7f75a6e
REFRESH_SECRET=125ccd8a2a116a559e3c8c8fa80bf573c2f37c0cc0dbc8e7c2019beee7f75a6e
PORT=3000
CORE_URL=http://localhost:5173
WSS=true # boolean

SYSTEM_EMAIL_PROVIDER=SMTP # support SMTP | RESEND
# FOR OTHER
PROVIDER_API_KEY=
# FOR SMTP
SMTP_EMAIL= "test@gmail.com"
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=196df487e5f27a
SMTP_PASS=604ec16ec6a46d
