# root .env used by docker
# for dev mode, each app have own .env file
PORT=3000
NODE_ENV=developement
# used for migation
DATABASE_URL=postgresql://dev_app_user:dev_password@localhost:5432/postgres
# used for user for row level security
DIRECT_URL=postgresql://postgres:postgres@localhost:5432/postgres

# used to store email api keys 
ENCRYPTION_KEY=125ccd8a2a116a559e3c8c8fa80bf573c2f37c0cc0dbc8e7c2019beee7f75a6e
BETTER_AUTH_SECRET=125ccd8a2a116a559e3c8c8fa80bf573c2f37c0cc0dbc8e7c2019beee7f75a6e
BETTER_AUTH_URL=http://localhost:5173
# FOR SMTP
# internal email used  for auth and rbac emails
SYSTEM_EMAIL_PROVIDER=SMTP # support SMTP | RESEND
# FOR OTHER SERVICE
PROVIDER_API_KEY=
# eFOR SMTP
SMTP_EMAIL="example@domain.com"
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=xxx
SMTP_PASS=xxx
